<h2>EJERCICIO 5 - Estudiantes Aprobados</h2>

<form (ngSubmit)="onSubmit()">
  <p>
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" [(ngModel)]="enteredNombre">
  </p>

  <p>
    <label for="precio">Nota</label>
    <input type="number" name="precio" [(ngModel)]="enteredPrecio">
  </p>

    <button type="submit">Create</button>
</form>

<h2>Answer</h2>
@if (arreglo) {
  <ul>
  @for (item of arreglo; track $index) {
    @if (item.precio >= 3){
      <li>{{item.nombre}} : {{item.precio}}</li>
    }
  }
  </ul>
}